
<div id="container">

    <div class="card">
      <div id="inCard">
        <div id="card_head">
          <h5 id="head">Users</h5>
          <button type="button" class="btn btn-success" id="add">+ Add user</button>
        </div>
        <table>
            <tr>
              <th class="col1">
                <a style="cursor: pointer;">User Name</a>
              </th>
              <th class="col2">
                <a style="cursor: pointer;">First Name</a>
              </th>	
              <th class="col3">
                <a style="cursor: pointer;">Last Name</a>
              </th>
              <th class="col4"> 
                <a style="cursor: pointer;">Mobile</a>
              </th>
              <th class="col5">
                <a style="cursor: pointer;">E-mail</a>
              </th>
              <th class="col6">
                Delete
              </th>
            </tr>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
        </table>
      </div>
    </div>
  
</div>