
<div id="container">

    <div class="card">
      <div id="inCard">
        <div id="card_head">
          <h5 id="head">Audit</h5>
          
        </div>
        <table>
            <tr>
              <th class="col1">
                <a style="cursor: pointer;">Patient ID</a>
              </th>
              <th class="col2">
                <a style="cursor: pointer;">Doctor ID</a>
              </th>	
              <th class="col3">
                <a style="cursor: pointer;">Admin ID</a>
              </th>
              <th class="col4"> 
                <a style="cursor: pointer;">UUID</a>
              </th>
              <th class="col5">
                <a style="cursor: pointer;">Time</a>
              </th>
              <th class="col6">
                  <a style="cursor: pointer;">Action</a>
                </th>
              <th class="col7">
                <a style="cursor: pointer;">Action Type</a>
              </th>
              <th class="col8">
                <a style="cursor: pointer;">Owner</a>
              </th>
            </tr>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
        </table>
      </div>
    </div>
  
</div>