
<div id="container">

    <div class="card">
      <div id="inCard">
        <div id="card_head">
          <h5 id="head">Ref Intake Amount</h5>
          <button type="button" class="btn btn-success" id="add">+ Add row</button>
        </div>
        <table>
            <tr>
              <th class="col1">
                <a style="cursor: pointer;">ID</a>
              </th>
              <th class="col2">
                <a style="cursor: pointer;">Item</a>
              </th>	
              <th class="col3">
                Delete
              </th>
            </tr>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
        </table>
      </div>
    </div>
  
</div>