


#container{
    font-family:Lato;
    margin-left: 311px;
    margin-top: 98px;
    line-height:26px;
    
    
}

#login_header{
    font-size:22px;
    color: rgb(25,116,186);
    text-align:left;
    margin-bottom: 0px;
}

#login_sub_headline{
    font-size:16px;
    color:rgb(72, 105, 133);
    text-align:left;
    margin-top:18px;
}

#login_text_box{
    padding: 17px;
    background-color:transparent;
    width:266px;
    height:44px;
    border-color:rgb(26,117,187);
    border-width:2px;
    border-radius:10px ;
    border-style:solid;
    margin-bottom: 10px;
}

#login_button{
    margin-top: 32px;
    background-color:rgb(26,117,187);
    width:114px;
    height:44px;
    border-radius:10px ;
    box-shadow:1px 1px 12px rgba(0,0,0,0.26);
}

#login_forgot_pass{
    margin-top:18px;
    font-size:16px; 
    color: rgb(25,116,186);
    text-align:left;
    margin-bottom: 39px; 
}

#login_button:focus {
    background-color:rgb(19,87,138);
    box-shadow:1px 1px 4px rgba(0,0,0,0.26);
  }

#login_logo{
    margin-left: 16px;
}

#signup_button{
    background-color: Transparent;
    border-color: transparent;
    
}

#signup_button_clock{
    float: right;
    margin-top: -144px;
    position: relative;
    margin-right: 122px;
}

#time{
    padding-top: 10px;
}




