
<div id="container">
    <h1 id="login_header">Login</h1>

    <h2 id="login_sub_headline">Name & Password</h2>

   <input type="username" class="form-control" id="login_text_box" placeholder="Name">
  <input type="password" class="form-control" id="login_text_box" placeholder="Password">
    <div >
        <button id="login_button" type="submit" class="btn btn-primary" (click)="login()">Login</button>
    </div>

   <div id="login_forgot_pass">
        <a  href="forgot" >Forgot Password</a>
    </div>  

    <div id="drop_elements_blue" >
        <img  src="../assets/drops_element_blue.png" alt="drops_element_blue">
    </div>

   
</div>

