
<div id="container" @fade>
  <div class="head" id="headLeft">Questions</div>
  <div class="head" id="headRight">Score</div>
  <ul>
    <div class="card" id="q1" (click)="que='q1'; hidden='hidden1'; arrow='arrow1'; arrowup='arrowup1'; show();">
        <div id="inbox">

          <div id="top_line">
            <p >Incomplete Emptying</p>
            <img class="arrowup" id="arrowup1" src="../../../assets/arrowup_icon.png">
            <img class="arrow" id="arrow1" src="../../../assets/arrowdown_grey.png">
            
          </div>

          <div id="hidden1" class="hidden">
            <span>How often do you have the sensation of not emptying your bladder?</span>

            <div class="select">

                <button>
                  <img src="../../../assets/drop_1.png">
                  <span class="drops_text">Not at all</span>


                </button>
                <br>
                <button>
                  <img src="../../../assets/drop_2.png">
                  <span class="drops_text">Less then 1 out of 5 times</span>
                </button>
                <br>
                <button>
                  <img src="../../../assets/drop_3.png">
                  <span class="drops_text">Less then half the time</span>
                </button>
                <br>
                <button>
                  <img src="../../../assets/drop_4.png">
                  <span class="drops_text">Half the time</span>
                </button>
                <br>  
                <button>
                  <img src="../../../assets/drop_5.png">
                  <span class="drops_text">More then half the time</span>
                </button>
                <br>
                <button>
                  <img src="../../../assets/drop_6.png">
                  <span class="drops_text">Almost always</span>
                </button>

            </div>
          </div>
        </div>
    </div>

    <div class="card" id="q2" (click)="que='q2'; hidden='hidden2'; arrow='arrow2'; arrowup='arrowup2'; show();">
      <div id="inbox">
        <p>Frequancy</p>
        <img class="arrowup" id="arrowup2" src="../../../assets/arrowup_icon.png">
            <img class="arrow" id="arrow2" src="../../../assets/arrowdown_grey.png">
        <div id="hidden2" class="hidden">
            <span>Some text</span>

            <div class="select">

              <button>
                <img src="../../../assets/drop_1.png">
                <span class="drops_text">Not at all</span>


              </button>
              <br>
              <button>
                <img src="../../../assets/drop_2.png">
                <span class="drops_text">Less then 1 out of 5 times</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_3.png">
                <span class="drops_text">Less then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_4.png">
                <span class="drops_text">Half the time</span>
              </button>
              <br>  
              <button>
                <img src="../../../assets/drop_5.png">
                <span class="drops_text">More then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_6.png">
                <span class="drops_text">Almost always</span>
              </button>

          </div>

          </div>
      </div>
    </div>

    <div class="card" id="q3" (click)="que='q3'; hidden='hidden3'; arrow='arrow3'; arrowup='arrowup3'; show();">
      <div id="inbox">
        <p>Intermittency</p>
        <img class="arrowup" id="arrowup3" src="../../../assets/arrowup_icon.png">
            <img class="arrow" id="arrow3" src="../../../assets/arrowdown_grey.png">
        <div id="hidden3" class="hidden">
            <span>Some text</span>

            <div class="select">

              <button>
                <img src="../../../assets/drop_1.png">
                <span class="drops_text">Not at all</span>


              </button>
              <br>
              <button>
                <img src="../../../assets/drop_2.png">
                <span class="drops_text">Less then 1 out of 5 times</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_3.png">
                <span class="drops_text">Less then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_4.png">
                <span class="drops_text">Half the time</span>
              </button>
              <br>  
              <button>
                <img src="../../../assets/drop_5.png">
                <span class="drops_text">More then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_6.png">
                <span class="drops_text">Almost always</span>
              </button>

          </div>
          </div>
      </div>
    </div>

    <div class="card" id="q4" (click)="que='q4'; hidden='hidden4'; arrow='arrow4'; arrowup='arrowup4'; show();">
      <div id="inbox">
        <p>Urgency</p>
        <img class="arrowup" id="arrowup4" src="../../../assets/arrowup_icon.png">
            <img class="arrow" id="arrow4" src="../../../assets/arrowdown_grey.png">
        <div id="hidden4" class="hidden">
            <span>Some text</span>

            <div class="select">

              <button>
                <img src="../../../assets/drop_1.png">
                <span class="drops_text">Not at all</span>


              </button>
              <br>
              <button>
                <img src="../../../assets/drop_2.png">
                <span class="drops_text">Less then 1 out of 5 times</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_3.png">
                <span class="drops_text">Less then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_4.png">
                <span class="drops_text">Half the time</span>
              </button>
              <br>  
              <button>
                <img src="../../../assets/drop_5.png">
                <span class="drops_text">More then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_6.png">
                <span class="drops_text">Almost always</span>
              </button>

          </div>
          </div>
      </div>
    </div>

    <div class="card" id="q5" (click)="que='q5'; hidden='hidden5'; arrow='arrow5'; arrowup='arrowup5'; show();">
      <div id="inbox">
        <p>Weak Steam</p>
        <img class="arrowup" id="arrowup5" src="../../../assets/arrowup_icon.png">
            <img class="arrow" id="arrow5" src="../../../assets/arrowdown_grey.png">
        <div id="hidden5" class="hidden">
            <span>Some text</span>

            <div class="select">

              <button>
                <img src="../../../assets/drop_1.png">
                <span class="drops_text">Not at all</span>


              </button>
              <br>
              <button>
                <img src="../../../assets/drop_2.png">
                <span class="drops_text">Less then 1 out of 5 times</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_3.png">
                <span class="drops_text">Less then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_4.png">
                <span class="drops_text">Half the time</span>
              </button>
              <br>  
              <button>
                <img src="../../../assets/drop_5.png">
                <span class="drops_text">More then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_6.png">
                <span class="drops_text">Almost always</span>
              </button>

          </div>
          </div>
      </div>
    </div>

    <div class="card" id="q6" (click)="que='q6'; hidden='hidden6'; arrow='arrow6'; arrowup='arrowup6'; show();">
      <div id="inbox">
        <p>Question</p>
        <img class="arrowup" id="arrowup6" src="../../../assets/arrowup_icon.png">
            <img class="arrow" id="arrow6" src="../../../assets/arrowdown_grey.png">
        <div id="hidden6" class="hidden">
            <span>Some text</span>

            <div class="select">

              <button>
                <img src="../../../assets/drop_1.png">
                <span class="drops_text">Not at all</span>


              </button>
              <br>
              <button>
                <img src="../../../assets/drop_2.png">
                <span class="drops_text">Less then 1 out of 5 times</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_3.png">
                <span class="drops_text">Less then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_4.png">
                <span class="drops_text">Half the time</span>
              </button>
              <br>  
              <button>
                <img src="../../../assets/drop_5.png">
                <span class="drops_text">More then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_6.png">
                <span class="drops_text">Almost always</span>
              </button>

          </div>
          </div>
      </div>
    </div>

    <div class="card" id="q7" (click)="que='q7'; hidden='hidden7'; arrow='arrow7'; arrowup='arrowup7'; show();">
      <div id="inbox">
        <p>Question</p>
        <img class="arrowup" id="arrowup7" src="../../../assets/arrowup_icon.png">
            <img class="arrow" id="arrow7" src="../../../assets/arrowdown_grey.png">
        <div id="hidden7" class="hidden">
            <span>Some text</span>

            <div class="select">

              <button>
                <img src="../../../assets/drop_1.png">
                <span class="drops_text">Not at all</span>


              </button>
              <br>
              <button>
                <img src="../../../assets/drop_2.png">
                <span class="drops_text">Less then 1 out of 5 times</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_3.png">
                <span class="drops_text">Less then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_4.png">
                <span class="drops_text">Half the time</span>
              </button>
              <br>  
              <button>
                <img src="../../../assets/drop_5.png">
                <span class="drops_text">More then half the time</span>
              </button>
              <br>
              <button>
                <img src="../../../assets/drop_6.png">
                <span class="drops_text">Almost always</span>
              </button>

          </div>
          </div>
      </div>
    </div>
  </ul>
</div>