
body{
    Background-color: (245,245,245) ;

    box-shadow:1px 1px 4px rgba(0,0,0,0.26);
}

#top_bar{
    height: 46px; 
    width: 100%; 
    background-color:#13578A; 
    box-shadow:1px 1px 4px rgba(0,0,0,0.26);
}

#logo{
    margin-left: 16px; 
    width:  98px; 
    height: 96px;
    position: absolute;
}

#time{
     float:right;
}