<div id="container">
 

    <div class="search" @slideDown>
      <div id="search_items">
        <img src="./assets/menu_small_searchpatients_icon.png">
        <input class="textarea" placeholder="Search . . .">
      </div>
    </div>

    <div class="card" @fade>
        <table>
            <tr>
              <th class="col1">
                <a style="cursor: pointer;">Patient ID</a>
              </th>
              <th class="col2">
                <a style="cursor: pointer;">First Name</a>
              </th>	
              <th class="col3">
                <a style="cursor: pointer;">Last Name</a>
              </th>
              <th class="col4"> 
                <a style="cursor: pointer;">Mobile</a>
              </th>
              <th class="col5">
                <a style="cursor: pointer;">E-mail</a>
              </th>
              <th class="col6">
                  <a style="cursor: pointer;">View</a>
                </th>
              <th class="col7">
                <a style="cursor: pointer;">Edit</a>
              </th>
              
            </tr>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
        </table>
    </div>
  
  
</div>