
<div id="container">
  <div id="nav">
    <ul  id="links">

      <li>
        <a class="nav-link" routerLink='doctors'>
          <h5>Doctors</h5>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink='intakeAmount'>
          <h5>Ref intake amount</h5>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink='intakeType'>
          <h5>Ref intake type</h5>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink='whenList'>
          <h5>Ref when list</h5>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink='questions'>
          <h5>Questions</h5>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink='audit'>
          <h5>Audit</h5>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink='users'>
          <h5>Users</h5>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink=''>
          <div id = "text">Logout</div>
        </a>
      </li>

    </ul>
  </div>

  <div id="rout">
    <router-outlet></router-outlet>
  </div>
</div>