
<div id="container">
    <h1 id="header">Reset Password</h1>

    <h2 id="sub_headline">Email:</h2>

   <input class="form-control" id="text_box" placeholder="*Email">

    <div >
        <button id="login_button" type="submit" class="btn btn-primary" >Reset Password</button>
    </div>

   <div id="login_forgot_pass">
        <a  href="login" >back</a>
    </div>  

    <div id="drop_elements_blue" >
        <img  src="../assets/drops_element_blue.png" alt="drops_element_blue">
    </div>

   
</div>
