
<div id="container">

    <div class="card">
      <div id="inCard">
        <div id="card_head">
          <h5 id="head">Doctors</h5>
          <button type="button" class="btn btn-success" id="add">+ Add doctor</button>
        </div>
        <table>
            <tr>
              <th class="col1">
                <a style="cursor: pointer;">Doctor ID</a>
              </th>
              <th class="col2">
                <a style="cursor: pointer;">First Name</a>
              </th>	
              <th class="col3">
                <a style="cursor: pointer;">Last Name</a>
              </th>
              <th class="col4"> 
                <a style="cursor: pointer;">Mobile</a>
              </th>
              <th class="col5">
                <a style="cursor: pointer;">E-mail</a>
              </th>
              <th class="col6">
                  <a style="cursor: pointer;">Status</a>
                </th>
              <th class="col7">
                <a style="cursor: pointer;">Created</a>
              </th>
              <th class="col8">
                Delete
              </th>
            </tr>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
        </table>
      </div>
    </div>
  
</div>