
<div id="container">

    <div class="card">
      <div id="inCard">
        <div id="card_head">
          <h5 id="head">Questions</h5>
          
        </div>
        <table>
            <tr>
              <th class="col1">
                <a style="cursor: pointer;">ID</a>
              </th>
              <th class="col2">
                <a style="cursor: pointer;">Category</a>
              </th>	
              <th class="col3">
                <a style="cursor: pointer;">App Order</a>
              </th>
              <th class="col4"> 
                <a style="cursor: pointer;">Question</a>
              </th>
              <th class="col5">
                <a style="cursor: pointer;">Answer 1</a>
              </th>
              <th class="col6">
                  <a style="cursor: pointer;">Answer 2</a>
                </th>
              <th class="col7">
                <a style="cursor: pointer;">answer 3</a>
              </th>
              <th class="col8">
                <a style="cursor: pointer;">answer 4</a>
              </th>
              <th class="col9">
                <a style="cursor: pointer;">answer 5</a>
              </th>
              <th class="col10">
                <a style="cursor: pointer;">answer 6</a>
              </th>
              <th class="col11">
                <a style="cursor: pointer;">answer 7</a>
              </th>
              <th class="col12">
                Delete
              </th>
            </tr>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
        </table>
      </div>
    </div>
  
</div>